.checkout {
    & form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & input {
            display: block;
            width: 100%;
            border: 1px solid var(--dark-grey);
            border-radius: 100px;
            font-size: 16px;
            color: var(--dark-grey);
            padding: 16px 18px;

            &::placeholder {
                color: var(--grey);
            }

            &:focus {
                outline: 1px solid var(--dark-grey);
            }
        }
    }

    & .checkout-main {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        & .checkout-details {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 70%;

            & a {
                height: 24px;
                text-decoration: underline;

                & img {
                    transform: rotate(-90deg);
                    vertical-align: middle;
                    margin: 0 0 4px 8px;
                }
            }
        }

        & .checkout-summary {
            display: flex;
            flex-direction: column;
            gap: 24px;

            & .promo-code {
                background-color: var(--white);
                padding: 28px;
                border-radius: 32px;

                & div {
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    & h3 img {
                        vertical-align: middle;
                        margin-right: 4px;
                    }
                }

                & form {
                    margin-top: 20px;
                }
            }
        }
    }
}

.checkout-selected-med,
.checkout-customer,
.checkout-delivery,
.checkout-payment,
.drone-detail {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
