.discount-scroll {
    overflow-x: hidden;

    & nav {
        margin-bottom: 24px;
    }

    & ul li {
        display: inline-block;
        color: var(--light-text);

        &:last-child {
            font-weight: 500;
        }

        & a:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        & a::after {
            content: '/';
            display: inline-block;
            font-size: 80%;
            padding: 0 8px;
        }
    }

    & .scroll {
        display: flex;
        gap: 24px;
        width: 100%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.discount-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(200px, 40vw, 420px);
    min-width: clamp(240px, 40vw, 516px);
    background-color: var(--img-bg-color);
    border-radius: 32px;
    padding: 28px;

    @media (width < 646px) {
        padding: 20px;
    }

    & h2 {
        font-weight: 400;
    }

    & .discount-pills {
        display: flex;
        gap: 8px;

        @media (width < 646px) {
            flex-wrap: wrap;
            gap: 4px;
        }
    }
}