.home-page {
    min-height: 460px;

    & h1 {
        text-align: center;
        margin: 100px 0 54px 0;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 40px;

        & a {
            display: block;
            width: 220px;
            height: 100px;
            text-align: center;
            padding: 37px 0;
            border: none;
            border-radius: 30px;
            background-color: var(--dark-grey);
            color: var(--white);
            font-size: 20px;
            margin-top: 32px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--grey);
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}