.cart-flex {
    display: flex;
    gap: 24px;

    &>div {
        width: 100%;
    }

    & button {
        cursor: pointer;
    }

    & .selected-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        & .checkbox,
        & .delete {
            display: flex;
            align-items: center;
        }

        & button.delete {
            background-color: inherit;
            border: none;
            font-size: 16px;
            text-decoration: underline;
            gap: 8px;
        }

        & .checkbox {
            color: var(--grey);

            & input {
                margin-right: 10px;
            }
        }
    }

    .cart-items.unavailable {
        margin-top: 24px;

        & h3 {
            color: var(--red-error);
        }

        & .attention {
            margin-top: 24px;

            & a {
                text-decoration: underline;
            }
        }
    }

    .summary {
        margin-top: 48px;
    }
}

.empty-cart {
    margin: 40px 0 100px 0;
    font-size: 18px;
}

.cart-item,
.cart-item label,
.item-flexbox,
.item-info,
.item-btns,
.save-delete {
    display: flex;
}

.cart-item {
    align-items: center;
    gap: 20px;
    margin: 24px 0;

    &>img {
        width: 178px;
        min-height: 178px;
        border-radius: 32px;
        background-color: var(--grey);
    }

    & label {
        flex-direction: column;
        justify-content: space-between;
        height: 178px;
        width: 70%;

        & #status {
            width: 100%;
            font-size: 14px;
            color: var(--grey);
            margin-top: 8px;
        }

        & #price {
            font-size: 32px;
            font-weight: 700;
            text-align: right;
        }

        & #weight {
            font-size: 22px;
            color: var(--grey);
            text-align: right;
        }

        & .item-info {
            justify-content: space-between;
            align-items: flex-start;
        }

        & .attention {
            font-size: 13px;
            line-height: 16px;
            border-radius: 8px;
            padding: 10px;
            width: 290px;
        }

        & .item-btns {
            justify-content: space-between;
            font-size: 16px;
            font-weight: 700;

            & button {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                border: none;
                background-color: inherit;
            }

            & .qty {
                display: flex;
                align-items: center;
                gap: 16px;
                border: 1px solid var(--grey);
                border-radius: 8px;

                & button {
                    border-radius: 8px;
                    padding: 12px;
                }
            }

            & .save-delete {
                gap: 28px;
                align-items: flex-end;

                & button {
                    gap: 8px;
                }
            }
        }
    }
}
