@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(/src/styles/header.css);
@import url(/src/styles/footer.css);
@import url(/src/styles/home-page.css);
@import url(/src/styles/catalog.css);
@import url(/src/styles/product-card.css);
@import url(/src/styles/filters.css);
@import url(/src/styles/shopping-cart.css);
@import url(/src/styles/summary.css);
@import url(/src/styles/checkout.css);
@import url(/src/styles/checkout-delivery.css);
@import url(/src/styles/orders.css);
@import url(/src/styles/modal.css);
@import url(/src/styles/placeholder.css);

:root {
    --white: #FFFFFF;
    --bg-color: #F3F3F3;
    --attention-grey: #EFEFEF;
    --light-grey: #CCCCCC;
    --grey: #838383;
    --dark-grey: #383838;
    --red-error: #B60000;
    --green: #C0E9D7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--dark-grey);
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
a {
    outline: none;
}

li {
    list-style: none;
}

.container {
    margin-top: 110px;
    margin-left: clamp(24px, 6vw, 84px);
    margin-right: clamp(24px, 6vw, 84px);
    display: flex;
    flex-direction: column;
    gap: 100px;

    @media (width < 1100px) {
        margin-top: 230px;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 44px;
    margin-bottom: 24px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

hr {
    border: 1px solid #D5D5D5;
}

iframe {
    border: 1px solid var(--white);
    border-radius: 32px;
    height: 100%;
    width: 100%;
}

.medications img {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

& img#img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

& .attention {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    background-color: var(--attention-grey);
    padding: 12px;
    border-radius: 12px;
}

:is(.shopping-cart, .checkout) input#checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid var(--grey);
}

.filter-aside,
.personal-info,
.checkout-selected-med,
.checkout-customer,
.checkout-delivery,
.checkout-payment,
.drone-detail,
.cart-items,
.summary,
.modal-content,
.order-short-info {
    background-color: var(--white);
    padding: 28px;
    border-radius: 32px;
}

button.back-to-top {
    background-color: inherit;
    font-size: 16px;

    & img {
        vertical-align: middle;
        margin: 0 0 4px 8px;
    }
}
